// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form {
  width: 40%
}

.link {
  color: purple;
  background-color: transparent
}

.link :hover {
  background-color: transparent;
}

.red {
  background-color: red;
}
